# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Test results
TestResults/

# Logs
*.log

# Extent Reports (IMPORTANT for your framework)
Reports/
*.html
*.png

# Selenium / WebDriver temp files
chromedriver.exe
geckodriver.exe

# NuGet
*.nupkg
packages/

# OS files
.DS_Store
Thumbs.db